@import url("https://use.fontawesome.com/releases/v5.0.9/css/all.css");
@font-face {
  font-family: 'sweden_sansregular';
  src: url("/../assets/fonts/swedensans-webfont.eot");
  src: url("/../assets/fonts/swedensans-webfont.eot?#iefix") format("embedded-opentype"), url("/../assets/fonts/swedensans-webfont.woff2") format("woff2"), url("/../assets/fonts/swedensans-webfont.woff") format("woff"), url("/../assets/fonts/swedensans-webfont.ttf") format("truetype"), url("/../assets/fonts/swedensans-webfont.svg#sweden_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sweden_sansbold';
  src: url("/../assets/fonts/swedensans-webfont.eot");
  src: url("/../assets/fonts/swedensansbold-webfont.eot?#iefix") format("embedded-opentype"), url("/../assets/fonts/swedensansbold-webfont.woff2") format("woff2"), url("/../assets/fonts/swedensansbold-webfont.woff") format("woff"), url("/../assets/fonts/swedensansbold-webfont.ttf") format("truetype"), url("/../assets/fonts/swedensansbold-webfont.svg#sweden_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* COLORS */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 18px;
  font: inherit;
  vertical-align: baseline;
  width: 100%;
  background-color: #005293;
}

ul {
  list-style-type: none;
}

.container {
  width: 100%;
  margin: 0 auto;
}

canvas {
  display: block;
  margin: 50px auto;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  background-color: transparent;
  width: 60%;
}

h1,
h2,
h3,
h4,
h5 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

h1 {
  font-family: 'sweden_sansbold', Arial, Helvetica, sans-serif;
  color: #FECB00;
  margin: 0 auto;
  text-align: center;
  font-size: 4em;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-top: 50px;
}

h2 {
  font-size: 1.7em;
}

p {
  color: #FECB00;
  text-align: center;
  padding: 5px 0;
  padding-left: 15px;
  display: inline-block;
  font-family: 'sweden_sansregular', Arial, Helvetica, sans-serif;
  font-size: 2em;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.main-nav {
  background: #FECB00;
}

.main-nav ul {
  margin: 0;
  padding: 0;
  min-height: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.main-nav li {
  padding: 0 1em;
}

.main-nav a {
  font-family: "sweden_sansbold", Arial, Helvetica, sans-serif;
  padding: .5rem .5rem;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #005293;
  text-transform: uppercase;
}

.main-nav .active {
  /*  background-color: darken($royalYellow, 5%); */
  background-color: #005293;
}

.main-nav .active a {
  color: #FECB00;
}

.buttons,
.info {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.btn {
  background-color: #FECB00;
  font-family: "sweden_sansbold", Arial, Helvetica, sans-serif;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
  margin-left: 15px;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.highscore-container {
  color: #FECB00;
  font-family: 'sweden_sansbold', Arial, Helvetica, sans-serif;
  font-size: 1em;
  position: absolute;
  top: 14em;
  right: 7em;
  text-align: center;
}

.highscore-container #scoreList {
  display: block;
  text-align: center;
  -webkit-padding-start: 0;
  list-style: decimal-leading-zero inside;
}

.highscore-container #scoreList li {
  text-transform: uppercase;
}

#screenFade {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 82, 147, 0.8);
  display: block;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

#gameOverScreen {
  display: none;
  position: absolute;
  width: 60em;
  height: 20em;
  top: 50%;
  left: 50%;
  margin: -10em 0 0 -30em;
  z-index: 3;
  text-align: center;
  background-color: #005293;
  color: #FECB00;
  border: 15px solid #FECB00;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

#gameOverScreen p,
#gameOverScreen h1,
#gameOverScreen span,
#gameOverScreen label {
  color: #FECB00;
}

#gameOverScreen h1 {
  padding: 30px 0;
}

#gameOverScreen .btn {
  background-color: #FECB00;
  color: #005293;
  margin-top: 10px;
}

#gameOverScreen .btn:disabled {
  background-color: #cba200;
  color: #003660;
}

#gameOverScreen .btn:disabled:hover {
  -webkit-transform: none;
          transform: none;
}

#gameOverScreen input[type=text] {
  font-family: 'sweden_sansregular', Arial, Helvetica, sans-serif;
  color: #FECB00;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 1.5em;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #A71554;
  width: 10%;
}

#gameOverScreen label {
  font-family: 'sweden_sansregular', Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}

#startScreen {
  display: block;
  position: absolute;
  width: 60em;
  height: 55em;
  top: 10%;
  left: 50%;
  margin: -5em 0 0 -30em;
  z-index: 3;
  text-align: center;
  background-color: #005293;
  color: #FECB00;
  border: 15px solid #FECB00;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

#startScreen p,
#startScreen h1,
#startScreen span,
#startScreen label {
  color: #FECB00;
}

#startScreen h1 {
  padding: 30px 0;
}

#startScreen .btn {
  background-color: #FECB00;
  color: #005293;
  margin-top: 10px;
}

#startScreen .btn:disabled {
  background-color: #cba200;
  color: #003660;
}

#startScreen .btn:disabled:hover {
  -webkit-transform: none;
          transform: none;
}

#startScreen i {
  position: absolute;
  top: .5em;
  right: .5em;
  font-size: 2em;
  cursor: pointer;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

#startScreen i:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transform-origin: center;
          transform-origin: center;
  color: #e5b700;
}

#startScreen .start-menu-list {
  list-style: none;
}

#startScreen .start-menu-list li {
  font-family: 'sweden_sansbold', Arial, Helvetica, sans-serif;
  color: #FECB00;
  text-transform: uppercase;
  font-size: 2em;
  padding: .7em 0;
  -webkit-transition: all .1s ease-out;
  transition: all .1s ease-out;
  cursor: pointer;
}

#startScreen .start-menu-list li:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

#startScreen .logo {
  margin: 0 auto;
  padding: 1em 0;
  width: 20em;
}

span.tab {
  padding: 0 1em;
}

.controls-container {
  color: #FECB00;
  font-family: 'sweden_sansbold', Arial, Helvetica, sans-serif;
  font-size: 1em;
  position: absolute;
  width: 15em;
  top: 14em;
  left: 3em;
  text-align: center;
  line-height: 1.6em;
}

.controls-container kbd {
  border: 1px solid gray;
  font-size: 1em;
  -webkit-box-shadow: 1px 0 1px 0 #eee, 0 2px 0 2px #ccc, 0 2px 0 3px #444;
          box-shadow: 1px 0 1px 0 #eee, 0 2px 0 2px #ccc, 0 2px 0 3px #444;
  border-radius: 3px;
  margin: 2px 3px;
  padding: 1px 5px;
}

.controls-container p {
  font-size: 1em;
}
/*# sourceMappingURL=style.css.map */