@import url('https://use.fontawesome.com/releases/v5.0.9/css/all.css');

@font-face {
    font-family: 'sweden_sansregular';
    src: url('../assets/fonts/swedensans-webfont.woff2') format('woff2'), url('../assets/fonts/swedensans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sweden_sansbold';
    src: url('../assets/fonts/swedensansbold-webfont.woff2') format('woff2'), url('../assets/fonts/swedensansbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* COLORS */

$royalBlue: #005293;
$royalYellow: #FECB00;
$pink: #A71554;

* {
    box-sizing: border-box;
  }

body,
html {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 18px;
    font: inherit;
    vertical-align: baseline;
    width: 100%;
    background-color: $royalBlue;
}

ul {
    list-style-type: none;
}

.container {
    width: 100%;
    margin: 0 auto;
}

canvas {
    display: block;
    margin: 50px auto;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    background-color: transparent;
    width: 60%;
}

h1,
h2,
h3,
h4,
h5 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

h1 {
    font-family: 'sweden_sansbold', Arial, Helvetica, sans-serif;
    color: $royalYellow;
    margin: 0 auto;
    text-align: center;
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-top: 50px;
}

h2 {
    font-size: 1.7em;
}

p {
    color: $royalYellow;
    text-align: center;
    padding: 5px 0;
    padding-left: 15px;
    display: inline-block;
    font-family: 'sweden_sansregular', Arial, Helvetica, sans-serif;
    font-size: 2em;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.main-nav {
    background: $royalYellow;
   
    & ul {
      margin: 0;
      padding: 0;
      min-height: 2em;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none;
    }

    & li {
        padding: 0 1em;
    }

    & a {
        font-family: "sweden_sansbold", Arial, Helvetica, sans-serif;
      padding: .5rem .5rem;
      font-size: 1.6rem;
      font-weight: bold;
      text-decoration: none;
      display: flex;
      align-items: flex-start;
      color: $royalBlue;
      text-transform: uppercase;
    }

    .active {
       /*  background-color: darken($royalYellow, 5%); */
       background-color: $royalBlue;
    
       & a {
        color: $royalYellow;
       }
    }
}

.buttons,
.info {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.btn {
    background-color: $royalYellow;
    font-family: "sweden_sansbold", Arial, Helvetica, sans-serif;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    margin-left: 15px;
    transition: all .5s ease-out;

    &:hover {
        transform: scale(1.1);
    }

}

.highscore-container {
    color: $royalYellow;
    font-family: 'sweden_sansbold', Arial, Helvetica, sans-serif;
    font-size: 1em;
    position: absolute;
    top: 14em;
    right: 7em;
    text-align: center;

    & #scoreList {
        
        display: block;
        text-align: center;
        -webkit-padding-start: 0;
        list-style: decimal-leading-zero inside;

        & li {
            text-transform: uppercase;
        }

    }
}

#screenFade {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba($royalBlue, .8);
    display: block;
    transition: all .2s ease-out;
}

#gameOverScreen {
    display: none;
    position: absolute;
    width: 40em;
    height: 20em;
    top: 50%;
    left: 50%;
    margin: -10em 0 0 -20em;
    z-index: 3;
    text-align: center;
    background-color: $royalBlue;
    color: $royalYellow;
    border: 15px solid $royalYellow;
    transition: all .2s ease-out;

    & p,
    h1,
    span,
    label {
        color: $royalYellow;
    }

    & h1 {
        padding: 30px 0;
    }

    & .btn {
        background-color: $royalYellow;
        color: $royalBlue;
        margin-top: 10px;

        &:disabled {
            background-color: darken($royalYellow, 10%);
            color: darken($royalBlue, 10%);

            &:hover {
                transform: none;
            }
        }
    }

    & input[type=text] {
        font-family: 'sweden_sansregular', Arial, Helvetica, sans-serif;
        color: $royalYellow;
        text-transform: uppercase;
        letter-spacing: 10px;
        font-size: 1.5em;
        background-color: transparent;
        border: none;
        border-bottom: 3px solid $pink;
        width: 10%;
    }

    & label {
        font-family: 'sweden_sansregular', Arial, Helvetica, sans-serif;
        font-size: 1.5em;
    }
}

    #startScreen {
        display: block;
        position: absolute;
        width: 35em;
        height: 45em;
        top: 10%;
        left: 50%;
        margin: -5em 0 0 -17.5em;
        z-index: 3;
        text-align: center;
        background-color: $royalBlue;
        color: $royalYellow;
        border: 15px solid $royalYellow;
        transition: all .2s ease-out;
    
        & p,
        h1,
        span,
        label {
            color: $royalYellow;
        }
    
        & h1 {
            padding: 30px 0;
        }
    
        & .btn {
            background-color: $royalYellow;
            color: $royalBlue;
            margin-top: 10px;
    
            &:disabled {
                background-color: darken($royalYellow, 10%);
                color: darken($royalBlue, 10%);
    
                &:hover {
                    transform: none;
                }
            }
    
        }

        & i {
            position: absolute;
            top: .5em;
            right: .5em;
            font-size: 2em;
            cursor: pointer;
            transition: all .2s ease-out;

            &:hover {
                transform: scale(1.02);
                transform-origin: center;
                color: darken($royalYellow, 5%);
            }
        }

        & .start-menu-list {
            list-style: none;

            & li {
                font-family: 'sweden_sansbold', Arial, Helvetica, sans-serif;
                color: $royalYellow;
                text-transform: uppercase;
                font-size: 2em;
                padding: .7em 0;
                transition: all .1s ease-out;
                cursor: pointer;

                &:hover {
                    transform: scale(1.02);
                }
            }
        }

        & .logo {
            margin: 0 auto;
            padding: 1em 0;
            width: 20em;
        }

}

span.tab {
    padding: 0 1em;
}

.controls-container {
    color: $royalYellow;
    font-family: 'sweden_sansbold', Arial, Helvetica, sans-serif;
    font-size: 1em;
    position: absolute;
    width: 15em;
    top: 14em;
    left: 3em;
    text-align: center;
    line-height: 1.6em;
    & kbd {
        border: 1px solid gray;
        font-size: 1em;
        box-shadow: 1px 0 1px 0 #eee, 0 2px 0 2px #ccc, 0 2px 0 3px #444;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin: 2px 3px;
        padding: 1px 5px;
    }

    & p {
        font-size: 1em;
    }
}

#scoreCounter {
    margin: 0;
    margin-top: 30px;
}   

#countdownTimer {
    margin: 0;
}

